@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
}

nav {
	flex: 0 0 100px;
	background-color: blue;
}

main {
	flex: 1;
}

.f-wrap {
	background-color: gray;
	margin-top: auto;
}

footer {
	height: 100%;
	display: flex;
	justify-content: center;
}

footer>div>p {
	display: inline-block;
	margin: 5px 10px;
	color: black;
}

form {
	background: #a8ff78;
	background: -webkit-linear-gradient(to left, #78ffd6, #a8ff78);
	background: linear-gradient(to left, #78ffd6, #a8ff78);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: -5px -5px 30px 5px green, 5px 5px 30px 5px blue;
	border: 1px solid black;
	border-radius: 20px;
	width: 300px;
	height: 300px;
}