@charset "UTF-8";

.footer {
	background: #a8ff78; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #78ffd6, #a8ff78);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #78ffd6, #a8ff78);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	display: grid;
	grid-template-columns: 100px 4fr 3fr 200px;
	padding: 2% 2%;
}

.footer_1 {
	grid-column-start: 2;
}

.footer_2 {
	grid-column-start: 3;
}

footer>div>div>p {
	display: inline-block;
	margin: 5px 10px;
	color: black;
}

footer>div>div>h2 {
	display: inline-block;
}

.p_footer_bw {
	font-weight: bold;
	font-size: 18px;
	color: black;
}

ul {
	display: flex;
	margin: 0;
	padding: 30px;
	list-style: none;
	background-color: #f5f5f5;
	justify-content: center;
	align-items: center;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

ul li {
	margin-top: 15px;
	margin-right: 15px;
	border: 1px solid #f5f5f5;
	padding: 15px;
	border: 1px solid gray;
	border-radius: 10px;
}

ul li a {
	color: #333;
	text-decoration: none;
	font-size: 16px;
}